<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="doctordogg_vmmv" frontName="doctordogg_vmmv">
            <module name="Doctordogg_HelloWorldVMMV" />
        </route>
    </router>
</config>
